.header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  font-family: arial;
  padding: 30px 110px;
  border-bottom: 2px solid whitesmoke;
  & .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    img {
      width: 70px;
      height: 70px;
      margin-right: 20px;
    }
    p:first-child {
      font-size: 24px;
      font-weight: 600;
    }
    p {
      font-size: 16px;
      font-weight: 400;
    }
    p:last-child {
      color: #7b7b7b;
    }
  }

  & .header__link {
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    background-color: #fe5f1e;
    border-radius: 25px;
    & div {
      padding: 5px 10px;
    }
    & div:first-child {
      border-right: 1px solid white;
    }
  }
}
@media screen and (max-width: 1690px) and (orientation: landscape) {
  .header {
    & .logo {
      img {
        width: 60px;
        height: 60px;
      }
      p:first-child {
        font-size: 22px;
      }
      p {
        font-size: 14px;
      }
    }
    & .header__link {
      & div {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
  .header {
    & .logo {
      img {
        width: 50px;
        height: 50px;
      }
      p:first-child {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }

    & .header__link {
      & div {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
  .header {
    & .logo {
      img {
        width: 50px;
        height: 50px;
      }
      p:first-child {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }

    & .header__link {
      & div {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 720px) and (orientation: portrait) {
  .header {
    display: flex;
    flex-direction: column;
    & .logo {
      img {
        width: 50px;
        height: 50px;
      }
      p:first-child {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }

    & .header__link {
      width: 150px;
      display: flex;
      justify-content: center;
      & div {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 640px) and (orientation: portrait) {
  .header {
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    & .logo {
      img {
        width: 50px;
        height: 50px;
      }
      p:first-child {
        font-size: 20px;
      }
      p {
        font-size: 12px;
      }
    }

    & .header__link {
      width: 150px;
      display: flex;
      justify-content: center;
      & div {
        font-size: 12px;
      }
    }
  }
}
